# Production environment variables for Docker Compose.

# The host used by the daemon.
DVD_HOST=127.0.0.1
# The port used by the daemon.
DVD_PORT=80
# The file path to wcpan.drive.cli configuration.
DVD_DRIVE_FILE=/path/to/drive.yaml
# The configuration directory.
# e.g. wcpan.drive.cli settings and OAuth secrets.
DVD_CONFIG_DIR=/path/to/config/dir
# The data directory which places caches.
# e.g. local databases and OAuth tokens.
DVD_DATA_DIR=/path/to/data/dir
# The directory where the daemon stores temporary files.
DVD_TMP_DIR=/path/to/tmp/dir
# (Optional) Authentication token.
DVD_TOKEN=my_password
