services:
  unpack:
    build:
      context: ./unpack
      target: production
    restart: "no"
    volumes:
      - binary:/mnt/binary:rw
    cap_drop:
      - ALL
    command: sh -c "cp /app/unpack /mnt/binary"
  engine:
    build:
      context: ./engine
      target: production
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - binary:/mnt/binary:ro
      - static:/mnt/static:ro
      - ${DVD_DRIVE_FILE}:/mnt/drive.yaml
      - ${DVD_CONFIG_DIR}:/mnt/config:ro
      - ${DVD_DATA_DIR}:/mnt/data:rw
      - ${DVD_TMP_DIR}:/mnt/tmp:rw
    environment:
      POETRY_CONFIG_DIR: /tmp
      POETRY_CACHE_DIR: /tmp
      DVD_ENGINE_PORT: "80"
      DVD_ENGINE_UNPACK: /mnt/binary/unpack
      DVD_ENGINE_DRIVE: /mnt/drive.yaml
      DVD_ENGINE_TMP: /mnt/tmp
      DVD_ENGINE_TOKEN: ${DVD_TOKEN}
    expose:
      - "80"
    logging:
      driver: journald
      options:
        tag: dvd-engine
    command: /app/docker/start.sh
  viewer:
    build:
      context: ./viewer
      target: production
    restart: "no"
    volumes:
      - static:/mnt/static:rw
    cap_drop:
      - ALL
    command: sh -c "cp -R /app/* /mnt/static"
  nginx:
    image: docker.io/library/nginx:stable-alpine-slim
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
      - ./docker/nginx:/etc/nginx/conf.d:ro
      - static:/mnt/static:ro
    ports:
      - "${DVD_HOST}:${DVD_PORT}:80"
    logging:
      driver: journald
      options:
        tag: dvd-nginx
volumes:
  binary:
  static:
