@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --inset-left: env(safe-area-inset-left, 0);
  --inset-right: env(safe-area-inset-right, 0);
  --inset-bottom: env(safe-area-inset-bottom, 0);
  --inset-top: env(safe-area-inset-top, 0);
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  html {
    /* Prevent viewport scrolling in iOS. */
    position: fixed;
    /* Prevent touch actions. */
    touch-action: manipulation;
  }

  body {
    /* Disable selection globally, enable for only inputs. */
    @apply select-none;
    /* Disable tap highlight on links and buttons for Webkit. */
    -webkit-tap-highlight-color: transparent;

    background-color: black;
    color: white;
    font-size: 16px;
    font-family: "Roboto", "Hiragino Kaku Gothic Pro", "Meiryo",
      "Noto Sans CJK JP", "sans-serif";
  }

  @media screen {
    html {
      padding-left: var(--inset-left);
      padding-right: var(--inset-right);
      padding-bottom: var(--inset-bottom);
    }
  }
}

@layer utilities {
  .safe-area-inset-0 {
    top: var(--inset-top);
    bottom: var(--inset-bottom);
    left: var(--inset-left);
    right: var(--inset-right);
  }

  .drag-over.drop-enabled {
    background-color: black;
    transition: background-color 250ms ease-in-out;
  }
}
