:root {
  --inset-bottom: env(safe-area-inset-bottom);
  --inset-left: env(safe-area-inset-left);
  --inset-right: env(safe-area-inset-right);
}

html, body, body > .body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-size: 16px;
  background-color: black;

  overflow: hidden;
}

@media screen {
  html {
    box-sizing: border-box;
    padding-left: var(--inset-left);
    padding-right: var(--inset-right);
    padding-bottom: var(--inset-bottom);
  }

  .pwa-hack-header {
    padding-left: var(--inset-left);
    padding-right: var(--inset-right);
  }
}
