@import '../lib/index';


.search-list {
  @include w-100;
  @include h-100;

  @include vbox;

  .input-group {
    .input {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .action-group {
    @include hbox;

    .action {
      @include size-grow;
    }
  }

  .tail {
    @include size-grow;
    @include mh-0;

    @include hbox;

    .tool-group {
      width: 200px;
      @include h-100;

      .history-list {
        @include w-100;

        @include scrollable;
      }
    }

    .search-result {
      @include size-grow;

      @include scrollable;
    }
  }

  .selected {
    background-color: aqua;
  }
}
